include setup.py
include pavement.py
include paver-minilib.zip
include README.rst
include ChangeLog
include COPYING
include AUTHORS
include bin/eyeD3
recursive-include src/eyed3 *.py
recursive-include examples *
recursive-include docs *
recursive-exclude docs/_build *
