include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile
include tox.ini

graft docs
prune docs/_build

recursive-include test *.py

exclude .cookiecutter.yml
exclude .gitchangelog.rc
global-exclude __pycache__
global-exclude .editorconfig
global-exclude *.py[co]

recursive-include requirements *.txt

recursive-include eyed3 *.py
include eyed3/plugins/DisplayPattern.ebnf
recursive-include examples *

exclude fabfile.py
exclude mkenv.sh
exclude pavement.py
prune etc

