include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile
include tox.ini
include setup.py
include pdm.lock
include .readthedocs.yaml

graft docs
prune docs/_build

recursive-include tests *.py
include tests/pytest.ini

exclude .cookiecutter.yml
global-exclude __pycache__
global-exclude .editorconfig
global-exclude *.py[co]

recursive-include requirements *.txt

recursive-include eyed3 *.py
recursive-include examples *

exclude pdm.lock
prune etc

