certifi==2023.11.17 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "4.0"
deprecation==2.1.0 ; python_version >= "3.8" and python_version < "4.0"
filetype==1.2.0 ; python_version >= "3.8" and python_version < "4.0"
idna==3.6 ; python_version >= "3.8" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.8" and python_version < "4.0"
pillow==9.5.0 ; python_version >= "3.8" and python_version < "4.0"
pylast==4.5.0 ; python_version >= "3.8" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.8" and python_version < "4.0"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.10" and python_version >= "3.8"
ruamel-yaml==0.16.13 ; python_version >= "3.8" and python_version < "4.0"
urllib3==2.1.0 ; python_version >= "3.8" and python_version < "4.0"
