certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
dataclasses==0.8; python_version >= "3.6" and python_version < "3.7"
deprecation==2.1.0
filetype==1.0.7
grako==3.99.9
idna==2.10
importlib-metadata==2.1.1; python_version < "3.8"
packaging==20.8
pillow==8.0.1
pylast==4.0.0
pyparsing==2.4.7
requests==2.25.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2; platform_python_implementation == "CPython" and python_version < "3.9"
six==1.15.0
toml==0.10.2
urllib3==1.26.2
zipp==3.4.0; python_version < "3.8"
