certifi==2023.11.17 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "4.0"
deprecation==2.1.0 ; python_version >= "3.8" and python_version < "4.0"
filetype==1.2.0 ; python_version >= "3.8" and python_version < "4.0"
idna==3.6 ; python_version >= "3.8" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.8" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.8" and python_version < "4.0"
urllib3==2.1.0 ; python_version >= "3.8" and python_version < "4.0"
