appdirs==1.4.4
atomicwrites==1.4.0; sys_platform == "win32"
attrs==20.3.0
build==0.1.0
certifi==2020.12.5
chardet==4.0.0
check-manifest==0.45
colorama==0.4.4
coverage==5.3.1
dataclasses==0.8; python_version >= "3.6" and python_version < "3.7"
deprecation==2.1.0
distlib==0.3.1
factory-boy==3.1.0
faker==5.0.2
filelock==3.0.12
filetype==1.0.7
flake8==3.8.4
idna==2.10
importlib-metadata==2.1.1; python_version < "3.8"
importlib-resources==4.1.1; python_version < "3.7"
iniconfig==1.1.1
mccabe==0.6.1
packaging==20.8
pep517==0.9.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.2.1
pytest-cov==2.10.1
python-dateutil==2.8.1
requests==2.25.1
six==1.15.0
text-unidecode==1.3
toml==0.10.2
tox==3.20.1
urllib3==1.26.2
virtualenv==20.2.2
zipp==3.4.0; python_version < "3.8"
